In [112]:
import numpy as np
import pandas as pd

In [113]:
data = pd.read_csv('Dry_Beans_Dataset.csv')

In [114]:
data.head()

     Area Perimeter MajorAxisLength MinorAxisLength      roundnes   Class
0  114004  1279٫356     451٫3612558     323٫7479961  0٫8752802579  BOMBAY
1  117034  1265٫926     425٫9237875     351٫2151089   0٫917709597  BOMBAY
2  126503  1326٫959     475٫7724586     339٫3818868  0٫9028085849  BOMBAY
3  128118  1360٫135     504٫0249642             NaN  0٫8702739457  BOMBAY
4  129409  1348٫888      484٫364424     341٫1726593  0٫8937633936  BOMBAY

## Preprocessing

In [115]:
data.isnull().sum()

Area               0
Perimeter          0
MajorAxisLength    0
MinorAxisLength    1
roundnes           0
Class              0
dtype: int64

In [116]:
data['Perimeter'] = pd.to_numeric(data['Perimeter'].str.replace('٫', '.'), errors='coerce')
data['MajorAxisLength'] = pd.to_numeric(data['MajorAxisLength'].str.replace('٫', '.'), errors='coerce')
data['MinorAxisLength'] = pd.to_numeric(data['MinorAxisLength'].str.replace('٫', '.'), errors='coerce')
data['roundnes'] = pd.to_numeric(data['roundnes'].str.replace('٫', '.'), errors='coerce')

In [117]:
data['MinorAxisLength'].fillna(data['MinorAxisLength'].median())

0      323.747996
1      351.215109
2      339.381887
3      206.618773
4      341.172659
          ...
145    169.928349
146    173.247828
147    174.810552
148    173.378732
149    173.493726
Name: MinorAxisLength, Length: 150, dtype: float64

In [118]:
data.drop_duplicates()

       Area  Perimeter  MajorAxisLength  MinorAxisLength  roundnes   Class
0    114004   1279.356       451.361256       323.747996  0.875280  BOMBAY
1    117034   1265.926       425.923788       351.215109  0.917710  BOMBAY
2    126503   1326.959       475.772459       339.381887  0.902809  BOMBAY
3    128118   1360.135       504.024964              NaN  0.870274  BOMBAY
4    129409   1348.888       484.364424       341.172659  0.893763  BOMBAY
..      ...        ...              ...              ...       ...     ...
145   35476    711.317       266.850827       169.928349  0.881086    SIRA
146   35506    713.086       262.106215       173.247828  0.877461    SIRA
147   35561    708.141       259.768348       174.810552  0.891137    SIRA
148   35570    710.530       263.260383       173.378732  0.885378    SIRA
149   35633    712.676       262.588482       173.493726  0.881613    SIRA

[150 rows x 6 columns]

In [119]:
classes = data['Class'].unique().tolist()

In [120]:
value_class = {classes[0]:-1,classes[1]:0,classes[2]:1}

In [121]:
value_class

{'BOMBAY': -1, 'CALI': 0, 'SIRA': 1}

In [122]:
Class = []
for i in range(data.shape[0]):
    Class.append(value_class[data['Class'][i]])

In [123]:
data['Class'] = Class

In [125]:
data

       Area  Perimeter  MajorAxisLength  MinorAxisLength  roundnes  Class
0    114004   1279.356       451.361256       323.747996  0.875280     -1
1    117034   1265.926       425.923788       351.215109  0.917710     -1
2    126503   1326.959       475.772459       339.381887  0.902809     -1
3    128118   1360.135       504.024964              NaN  0.870274     -1
4    129409   1348.888       484.364424       341.172659  0.893763     -1
..      ...        ...              ...              ...       ...    ...
145   35476    711.317       266.850827       169.928349  0.881086      1
146   35506    713.086       262.106215       173.247828  0.877461      1
147   35561    708.141       259.768348       174.810552  0.891137      1
148   35570    710.530       263.260383       173.378732  0.885378      1
149   35633    712.676       262.588482       173.493726  0.881613      1

[150 rows x 6 columns]

## Perceptron Algorithm

In [126]:
class Perceptron():
    def __init__(self, learning_rate=0.01, n_iters=1000):
        self.lr = learning_rate
        self.n_iters = n_iters
        self.weights = np.zeros(X.shape[1])
        self.bias = 0

        
    def fit(data,labels):
        X = np.array(data)
        y = np.array(labels)

        for i in range(self.n_iters):
            cnt = 0
            for idx ,x_i in enumerate(X):
                output = self.activation_fun(np.dot(x_i,self.weights) + self.bias)
                if output != y[idx]:
                    update = self.lr * (y_[idx] - output)
                    self.weights += update * x_i
                    self.bias += update
                else:
                    cnt+=1
            if cnt == X.shape[1]:
                break
                
    def activation_fun(value):
        if value < 0:
            return -1
        elif value > 0:
            return 1
        else:
            return 0
        
    def predict(self, X):
        linear_output = np.dot(X, self.weights) + self.bias
        y_predicted = self.activation_func(linear_output)
        return y_predicted

## Adaline Algorithm

In [127]:
class Adaline():
    def __init__(self, learning_rate=0.01, n_iters=1000):
        self.lr = learning_rate
        self.n_iters = n_iters
        self.weights = np.zeros(X.shape[1])
        self.bias = 0

        
    def fit(data,labels):
        X = np.array(data)
        y = np.array(labels)
        for i in range(self.n_iters):
            cost = 0
            for idx , x_i in enumerate(X):
                output = np.dot(x_i,self.weights) + self.bias
                error = y[idx] - output
                self.weights += self.lr * error * x_i
                self.bias += self.lr * error
                cost += 0.5*(error**2)
                
            cost/=X.shape[1]   
            if cost <= 0.001:
                break
                
    def predict(self, X):
        linear_output = np.dot(X, self.weights) + self.bias
        y_predicted = self.activation_func(linear_output)
        return y_predicted
    
    
    def activation_fun(value):
        if value < 0:
            return -1
        elif value > 0:
            return 1
        else:
            return 0